# App
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL=postgresql://streamvid_user:streamvid_pass@localhost:5433/streamvid

# JWT
JWT_SECRET=ganti_dengan_random_string_panjang
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# Doodstream
DOODSTREAM_API_KEY=replace-with-doodstream-api-key

# Backblaze B2
BACKBLAZE_B2_BUCKET_NAME=
BACKBLAZE_B2_KEY_ID=replace-with-backblaze-key-id
BACKBLAZE_B2_APPLICATION_KEY=replace-with-backblaze-application-key
